---
layout: page
title: 所有分类
permalink: /categories/
---

<h1>文章分类一览</h1>

{% comment %}
使用标准的 Liquid 循环遍历 site.categories，这是 GitHub Pages 兼容的方式
{% endcomment %}

{% for category in site.categories %}
  
  {% assign category_name = category[0] %}
  {% assign posts_in_category = category[1] %}

  <h2>
    {{ category_name }} ({{ posts_in_category | size }})
  </h2>
  
  <ul>
    {% for post in posts_in_category %}
      <li>
        {% assign link = post.url | relative_url %}
        {% if link == "" %}
          {% assign link = post.path | relative_url %}
        {% endif %}
        <a href="{{ link }}">{{ post.title | default: post.slug | default: "(未命名文章)" }}</a>
        ({{ post.date | date: "%Y-%m-%d" }})
      </li>
    {% endfor %}
  </ul>
{% endfor %}