---
layout: page
title: 所有标签
permalink: /tags/
---

<h1>文章标签一览</h1>

{% for tag in site.tags %}
  {% assign tag_name = tag[0] %}
  {% assign posts_in_tag = tag[1] %}
  <h2>{{ tag_name }} ({{ posts_in_tag | size }})</h2>
  <ul>
    {% for post in posts_in_tag %}
      {% assign link = post.url | relative_url %}
      {% if link == "" %}
        {% assign link = post.path | relative_url %}
      {% endif %}
      <li>
        <a href="{{ link }}">{{ post.title | default: post.slug | default: "(未命名文章)" }}</a>
        ({{ post.date | date: "%Y-%m-%d" }})
      </li>
    {% endfor %}
  </ul>
{% endfor %}