{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            {{.Title}}
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="page_tags">
            <ul>
                {{ $data := .Data }}
                {{ range $key, $value := .Data.Terms.ByCount }}
                {{ if ($value.Name) }}
                <li>
                    <a href="{{ $data.Plural | absURL }}/{{ $value.Name | urlize }}">
                        {{ $value.Name }}
                    </a> <span class="terms_count">{{ $value.Count }}</span>
                </li>
                {{ end }}
                {{ end }}
            </ul>
        </div>

    </div>
</div>

{{ end }}